.container {
    width: 350px;
    margin: 100px auto;
    background: rgba(180, 166, 166, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #cb4154;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#bmi{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e7dede;
    border-radius: 5px;
    font-size: 16px;
    background-color: aliceblue;
    
}